@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hana-Heavy';
  src:
    local('Hana2.0 H'),
    url('./assets/fonts/Hana2-Heavy.otf') format('otf'),
    url('./assets/fonts/Hana2-Heavy.ttf') format('ttf');
}

@font-face {
  font-family: 'Hana-Bold';
  src:
    local('Hana2.0 B'),
    url('./assets/fonts/Hana2-Bold.otf') format('otf'),
    url('./assets/fonts/Hana2-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Hana-CM';
  src:
    local('Hana2.0 CM'),
    url('./assets/fonts/Hana2-CM.otf') format('otf'),
    url('./assets/fonts/Hana2-CM.ttf') format('ttf');
}

@font-face {
  font-family: 'Hana-Medium';
  src:
    local('Hana2.0 M'),
    url('./assets/fonts/Hana2-Medium.otf') format('otf'),
    url('./assets/fonts/Hana2-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Hana-Regular';
  src:
    local('Hana2.0 R'),
    url('./assets/fonts/Hana2-Regular.otf') format('otf'),
    url('./assets/fonts/Hana2-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Hana-Light';
  src:
    local('Hana2.0 L'),
    url('./assets/fonts/Hana2-Light.otf') format('otf'),
    url('./assets/fonts/Hana2-Light.ttf') format('ttf');
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  max-width: 500px;
}
#root {
  margin: 0;
  box-sizing: border-box;
  max-width: 500px;
  background-color: #f2f2f2;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
